{% extends "../kasse/base.html" %} {% block content %}
<div class="container"> {% if form.errors %}
    <p>Nutzername und Passwort stimmen nicht überein. Bitte nochmal versuchen</p>
    {% endif %} {% if next %} {% if user.is_authenticated %}
    <p>Nicht genug Berechtigungen für die gewünschte Seite</p>
    {% else %}
    <p></p>
    {% endif %} {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="col-sm-6 col-form-label">{{ form.username.label_tag }}</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="username" name="username">
            </div>
        </div>
        <div class="form-group">
            <label for="pwd" class="col-sm-6 col-form-label">Password:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" name="password">
            </div>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}