{% extends "kasse/base.html" %} {% block usersaldo %}
<ul class="nav navbar-nav navbar-right">
    {% if saldo != None %}
    <li><a class="nav-link" href="{% url 'kasse:accounting' %}"> {{user}} ({{saldo}} EUR)</a></li>
    <li><a class="nav-link" href="/accounts/logout"> Logout</a></li>
    {% endif %}
</ul>
{% endblock %} {% block content %}

<main>
    <div class="container">
        <h4>Einzahlung tätigen</h4>
        <p>Bevor die Einzahlung berechnet wird, muss diese durch einen Kassenwart manuell bestätigt werden</p>
        <form class="form-inline" action="{% url 'kasse:deposit' %}" method="post">
            {% csrf_token %}
            <div class="form-group ">
                <label for="deposit_value" class="col-sm-4 col-form-label">Einzahlungsumme: </label>
                <div class="col-sm-4">
                    <input type="text " class="form-control " name="deposit_value" id="deposit_value" value="5">
                </div>
            </div>
            <button type="submit " class="btn btn-default ">Submit</button>
        </form>
    </div>
    <div class="container" style="margin-top:15px">
        <h4>Unbestätigte Einzahlungen:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Summe</th>
                    <th>Bestätigt</th>
                </tr>
            </thead>
            <tbody>
                {% if deposits %} {% for deposit in deposits %}
                <tr>
                    <td>{{deposit.deposit_date}}</td>
                    <td>{{deposit.value}}</td>
                    <td>{% if deposit.accepted %}
                        <p class="text-success">Akzeptiert</p>
                        {%else%}
                        <p class="text-warning">Noch nicht Akzeptiert</p>
                        {% endif %}</td>
                </tr>
                {% endfor%} {% else %}
                <tr>
                    <td>Keine</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}