<!DOCTYPE html>
<html lang="de">

<head>
    {% load bootstrap4 %} {% bootstrap_css %}
    <title>{% block title %}ESSEN!!{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">Essenskasse</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'kasse:myorders' %}">Meine Bestellungen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'kasse:statistics' %}">Statistiken</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'kasse:supplier' %}">Lieferdienste</a>
                </li>
            </ul>
            {% block usersaldo %}{% endblock %}
        </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>