{% extends "kasse/base.html" %} {% block usersaldo %}
<ul class="nav navbar-nav navbar-right">
    {% if saldo != None %}
    <li><a class="nav-link" href="{% url 'kasse:accounting' %}"> {{user}} ({{saldo}} EUR)</a></li>
    <li><a class="nav-link" href="/accounts/logout"> Logout</a></li>
    {% endif %}
</ul>
{% endblock %} {% block content %}
<main>
    <div class="container">
        <h3>Aktuelle Bestellungen:</h3>
        {% if order_list %} {% for order in order_list %}
        <p><a class="nav-link" href="{% url 'kasse:orderdetail' order.id %}">{{ order.supplier }}</a></p>
        {% endfor %} {% else %}
        <p>Aktuell laufen keine Bestellungen</p>
        {% endif %}
    </div>
</main>
{% endblock %}