{% extends "kasse/base.html" %} {% block usersaldo %}
<ul class="nav navbar-nav navbar-right">
    {% if saldo != None %}
    <li><a class="nav-link" href="{% url 'kasse:accounting' %}"> {{user}} ({{saldo}} EUR)</a></li>
    <li><a class="nav-link" href="/accounts/logout"> Logout</a></li>
    {% endif %}
</ul>
{% endblock %} {% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Datum / Lieferdienst</th>
                <th>Bestellt</th>
                <th>Preis in EUR</th>
            </tr>
        </thead>
        <tbody>
            {% if orderitems %} {% for orderitem in orderitems %}
            <tr>
                <td><a href="{% url 'kasse:orderdetail' orderitem.order.id %}">{{orderitem.order.start_date|date:"Y-m-d"}} {{orderitem.order.supplier}}</a></td>
                <td>{{orderitem.title}}</td>
                <td>{{orderitem.value}}</td>
            </tr>
            {% endfor%}
            <tr>
                <td><b>Gesamtsumme:</b></td>
                <td></td>
                <td><b>{{summary}}</b></td>
            </tr>{%else%}
            <tr>
                <td> Noch keine Bestellung erfolgt</td>
            </tr>
            {% endif %}
        </tbody>
    </table>


    {% endblock %}