{% extends "kasse/base.html" %} {% block usersaldo %}
<ul class="nav navbar-nav navbar-right">
    {% if saldo != None %}
    <li><a class="nav-link" href="{% url 'kasse:accounting' %}"> {{user}} ({{saldo}} EUR)</a></li>
    <li><a class="nav-link" href="/accounts/logout"> Logout</a></li>
    {% endif %}
</ul>
{% endblock %} {% block content %}
<main>
    <div class="container">
        {% if order.supplier.menu %}
        <h3>Bestellung bei <a target="_blank" href={{order.supplier.menu.url}}>{{ order.supplier }}</a> bis {{order.end_date|date:'G:i'}} Uhr</h3>
        {% elif order.supplier.menulink %}
        <h3>Bestellung bei <a target="_blank" href={{order.supplier.menulink}}>{{ order.supplier }}</a> bis {{order.end_date|date:'G:i'}} Uhr</h3>
        {%else %}
        <h3>Bestellung bei {{ order.supplier }} bis {{order.end_date|date:'G:i'}} Uhr</h3>
        {%endif%} {% if order.active %}
        <form class="form-inline" action="{% url 'kasse:order' order.id %}" method="post">
            {% csrf_token %}
            <div class="form-group ">
                <label for="ordernumber " class="col-sm-4 col-form-label">Bestellnummer: </label>
                <div class="col-sm-4">
                    <input type="text " class="form-control " name="ordernumber" id="ordernumber " value="543 ">
                </div>
            </div>
            <div class="form-group ">
                <label for="orderitem " class="col-sm-4 col-form-label">Bestelltext: </label>
                <div class="col-sm-4">
                    <input type="text " class="form-control " name="orderitem" id="orderitem " value="Baguette">
                </div>
            </div>
            <div class="form-group ">
                <label for="orderitem_value " class="col-sm-4 col-form-label">Preis:</label>
                <div class="col-sm-4">
                    <input type="text " class="form-control " name="orderitem_value" id="orderitem_value " value="5,32 ">
                </div>
            </div>
            <div class="form-group">
                <button type="submit " class="btn btn-success">Submit</button>
            </div>
        </form>
        {% else %}
        <h5> Bestellung wurde bereits abgeschlossen. Vorrausichtliche Lieferzeit: {{ order.deliverytime }}</h5>
        {% endif%}
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Nutzer</th>
                    <th>Bestellnummer</th>
                    <th>Bestelltext</th>
                    <th>Preis in EUR</th>
                    <th>MagiePreis in EUR</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if orderitems %} {% for orderitem in orderitems %}
                <tr>
                    <td>{{orderitem.user}}</td>
                    <td>{{orderitem.ordernumber}}</td>
                    <td>{{orderitem.title}}</td>
                    <td>{{orderitem.original_value}}</td>
                    <td>{{orderitem.value}}</td>
                    {% if order.active %} {% if orderitem.user.username == request.user.username %}
                    <td><a class="btn btn-danger" role="button" href="{% url 'kasse:delete_orderitem' orderitem.id orderitem.order.id %}">DEL</a></td>
                    {% else %}
                    <td></td>
                    {% endif %} {% endif %}
                </tr>
                {% endfor%}
                <tr>
                    <td><b>Gesamtsumme:</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{summary}}</b></td>
                </tr>{%else%}
                <tr>
                    <td> Noch keine Bestellung erfolgt</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

    </div>
</main>
{% endblock %}