{% extends "kasse/base.html" %} {% block usersaldo %}
<ul class="nav navbar-nav navbar-right">
    {% if saldo != None %}
    <li><a class="nav-link" href="{% url 'kasse:accounting' %}"> {{user}} ({{saldo}} EUR)</a></li>
    <li><a class="nav-link" href="/accounts/logout"> Logout</a></li>
    {% endif %}
</ul>
{% endblock %} {% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Bestellungen</h2>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Lieferant</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in order_list %}
                        <tr>
                            <td> {{ order.start_date|date:"Y-m-d"}} </td>
                            <td><a href="{% url 'kasse:orderdetail' order.id %}">{{ order.supplier }}</a>
                            </td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <h2>Top Ten Lieferanten</h2>
                <table class="table table-condensed  col-sm-6">
                    <thead>
                        <tr>
                            <th>Lieferant</th>
                            <th>Anzahl Bestellungen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supplier in topten %}
                        <tr>
                            <td> {{supplier}} </td>
                            <td>{{supplier.num_orders}}</a>
                            </td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}