{% extends "kasse/base.html" %} {% block usersaldo %}
<ul class="nav navbar-nav navbar-right">
    {% if saldo != None %}
    <li><a class="nav-link" href="{% url 'kasse:accounting' %}"> {{user}} ({{saldo}} EUR)</a></li>
    <li><a class="nav-link" href="/accounts/logout"> Logout</a></li>
    {% endif %}
</ul>
{% endblock %} {% block content %}
<main>
    {% if supplier_list %}
    <ul>
        {% for supplier in supplier_list %}
        <li> {{ supplier.name }} {% if supplier.menu %}->
            <a target="_blank" href={{supplier.menu.url}}>Karte</a> {% elif supplier.menulink != ''%}->
            <a target="_blank" href={{supplier.menulink}}>Link</a> {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Keine Lieferanten hinterlegt</p>
    {% endif %}
</main>
{% endblock %}